@page "/CreateItemz/{ItemzTypeId:guid}"
@using ItemzApp.WebUI.Client.Services.Itemz
@using ItemzApp.WebUI.Client.SharedModels
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavManager

<h1>Create Itemz</h1>

<MudGrid>
	<MudItem hidden="@hideValidationError" xs="12" sm="8">
		<MudPaper Class="pa-4 mud-height-full">
			<MudText Typo="Typo.subtitle2" Color="@Color.Error">@($"Validation Errors ({errors.Length})")</MudText>
			@foreach (var error in errors)
			{
				<MudText Color="@Color.Error">@error</MudText>
			}
		</MudPaper>
	</MudItem>
    <MudItem xs="12" sm="8">
        <MudPaper Class="pa-4">
			<MudForm Model="@singleItemz" @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
				<MudCardContent>
				<MudTextField T="string" Label="Name" Required="true" RequiredError="Itemz name is required!"
								  @bind-Value="singleItemz.Name"
								  For="@(() => singleItemz.Name)" />
					<MudSelect @bind-Value="singleItemz.Status"
							   For="@(() => singleItemz.Status)"
							   Required="true"
							   RequiredError="Status is required!"
							   Label="Status">
						@foreach (var _stringItemzStatusValue in _stringItemzStatusValues)
						{
							<MudSelectItem T="string" Value="_stringItemzStatusValue">@_stringItemzStatusValue</MudSelectItem>
						}
					</MudSelect>
					<MudSelect @bind-Value="singleItemz.Priority"
							   For="@(() => singleItemz.Priority)"
							   Required="true"
							   RequiredError="Priority is required!"
							   Label="Priority">
						@foreach (var _stringItemzPriorityValue in _stringItemzPriorityValues)
						{
							<MudSelectItem T="string" Value="_stringItemzPriorityValue">@_stringItemzPriorityValue</MudSelectItem>
						}
					</MudSelect>
					<MudTextField T="string" Label="Description" Required="true" RequiredError="Description is required!"
								  @bind-Value="singleItemz.Description"
								  For="@(() => singleItemz.Description)" />
					<MudSelect @bind-Value="singleItemz.Severity"
							   For="@(() => singleItemz.Severity)"
							   Required="true"
							   RequiredError="Severity is required!"
							   Label="Severity">
						@foreach (var _stringItemzSeverityValue in _stringItemzSeverityValues)
						{
							<MudSelectItem T="string" Value="_stringItemzSeverityValue">@_stringItemzSeverityValue</MudSelectItem>
						}
					</MudSelect>
				</MudCardContent>
				<MudCardActions>
					<MudButton Variant="Variant.Filled" Color="Color.Primary"
							   Size="Size.Large" 
							   style="gap: 10px; margin : 10px"
							   OnClick="(() => HandleCreateItemzPostSubmission())">
						<MudText>Create</MudText>
					</MudButton>
					@* <MudSpacer /> *@
					<MudButton Variant="Variant.Filled" Color="Color.Warning"
							   Size="Size.Large"
							   style="gap: 10px; margin : 10px" 
							   OnClick="(() => goBackToItemzTypeSetting())">
						<MudText>Cancel</MudText>
					</MudButton>
				</MudCardActions>
			</MudForm>
		</MudPaper>
	</MudItem>
</MudGrid>

<MudOverlay Visible="@createItemzButtonClicked" DarkBackground="true" Absolute="true">
	<MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Inherit">Creating ... </MudText>
	<br />
	<MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
</MudOverlay>

@code {
	[Parameter]
	public Guid ItemzTypeId { get; set; }
	[Parameter]
	public Guid ParentId { get; set; }

	[Inject]
	public IItemzService ItemzService { get; set; }


	public CreateItemzDTO singleItemz { get; set; } = new();
	public bool IsProcessing { get; set; } = false;

	//MudForm related fields
	bool success = true;
	string[] errors = { };
	MudForm form;
	private bool createItemzButtonClicked = false;
	bool hideValidationError = true;

	string[] _stringItemzStatusValues = { };
	string[] _stringItemzPriorityValues = { };
	string[] _stringItemzSeverityValues = { };

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// EXPLANATION :: First we create string list and then just call ToArray() for producing required string array
			List<string> tempStatusList = new List<string>();
			foreach (var _itemzStatusValue in Enum.GetValues<ItemzStatus>())
			{
				tempStatusList.Add(_itemzStatusValue.ToString().Trim());
			}
			_stringItemzStatusValues = tempStatusList.ToArray();

			// EXPLANATION :: First we create string list and then just call ToArray() for producing required string array
			List<string> tempPriorityList = new List<string>();
			foreach (var _itemzPriorityValue in Enum.GetValues<ItemzPriority>())
			{
				tempPriorityList.Add(_itemzPriorityValue.ToString().Trim());
			}
			_stringItemzPriorityValues = tempPriorityList.ToArray();

			// EXPLANATION :: First we create string list and then just call ToArray() for producing required string array
			List<string> tempSeverityList = new List<string>();
			foreach (var _itemzSeverityValue in Enum.GetValues<ItemzSeverity>())
			{
				tempSeverityList.Add(_itemzSeverityValue.ToString().Trim());
			}
			_stringItemzSeverityValues = tempSeverityList.ToArray();
		}
	}
	public async Task HandleCreateItemzPostSubmission()
	{
		if (form != null)
		{
			await form.Validate();
			if (form.IsValid)  
			{
				hideValidationError = true;	
				createItemzButtonClicked = true;
				// singleItemz.ItemzTypeId = ItemzTypeId;
				var updatedResult = await ItemzService.__POST_Create_Itemz__Async(ItemzTypeId, true, singleItemz); 
				Thread.Sleep(1500);

				// TODO:: HANDLE NAVIGATE BACK
				goBackToItemzTypeSetting();
			}
			else
			{
				hideValidationError = false;
			}
		}
	}

	public void goBackToItemzTypeSetting()
	{
		// NavManager.NavigateTo($"/ItemzType/{ItemzTypeId.ToString()}/{ParentId.ToString()}");
		NavManager.NavigateTo($"/ItemzType/{ItemzTypeId.ToString()}");
	}
}
