@page "/baseline/{BaselineId:guid}"
@using ItemzApp.WebUI.Client.Services.BaselineHierarchy
@using ItemzApp.WebUI.Client.Services.Baselines
@using ItemzApp.WebUI.Client.SharedModels
@using ItemzApp.WebUI.Client.SharedModels.BetweenPagesAndComponent
@using ItemzApp.WebUI.Components.Pages.Breadcrums
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavManager
@inject IDialogService DialogService

@if (BreadcrumsParameter != null)
{
	<BaselineBreadcrums produceBreadcrums="BreadcrumsParameter" />
}

<MudPaper Class="pa-2 mb-3 align-start d-flex" Style="width: auto" Outlined="false">
	<MudText Typo="Typo.h6" Align="Align.Left">Baseline</MudText>
</MudPaper>

<MudGrid>
	@if (initializingPage)
	{
		<MudPaper Class="pa-2 mb-3" Height="calc(100vh - 100px);" Width="100%">
			<MudOverlay Visible="@initializingPage" DarkBackground="true" Absolute="true">
				<MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Inherit">Loading ...</MudText>
				<br />
				<MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
			</MudOverlay>
		</MudPaper>
	}
	else
	{
 		<MudItem xs="12" sm="12">
			<MudPaper Class="pa-2 mb-2">
			<MudCard style="background-color : #FABBBB;" >
				<MudCardContent>
					<MudItem Class="pa-4 align-start d-flex" Style="width: auto" Outlined="false">
						<MudText Typo="Typo.h5" Align="Align.Left"><strong>@singleBaseline.Name </strong></MudText>
						<MudSpacer />
						<MudButton OnClick="async _ => await editBaselineDetails(BaselineId.ToString())" Variant="Variant.Filled" Size="Size.Medium" Color="Color.Success"> Edit Baseline </MudButton>
						<MudButton OnClick="goBackToParentProject" Variant="Variant.Filled" Size="Size.Medium" Color="Color.Warning" style="gap: 10px; margin-left : 10px"> Go Back </MudButton>
					</MudItem>
					<MudDivider Style="color: darkgray background-color: white; border-width: 2px; border-color: black; height: 2px; " />
					<br />
					<MudText><strong>ID          : </strong> @singleBaseline.Id.ToString()</MudText>
					<MudText><strong>Description : </strong> @singleBaseline.Description</MudText>
				</MudCardContent>
			</MudCard>
			</MudPaper>
		</MudItem>
 		<MudItem xs="12" sm="12">
			<MudPaper Class="pa-2 mb-3 align-start d-flex" Style="width: auto" Outlined="false">
				<MudText Typo="Typo.h6" Align="Align.Left">@((MarkupString)("Baseline ItemzType &nbsp;&nbsp;"))</MudText>
				<MudChip T="string" Icon="@Icons.Material.Filled.Numbers" Size="Size.Small" Color="Color.Primary"> @AllItemzTypesForBaseline.Count().ToString()</MudChip>
			</MudPaper>
			<MudDataGrid Items="@AllItemzTypesForBaseline" Filterable="true" SortMode="@SortMode.None" Groupable="false" Striped="true" FixedHeader="true" HeaderClass="background-color: red;">
				<Columns>
					<PropertyColumn Property="x => x.RecordId" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
@* 					<PropertyColumn Property="x => x.IsIncluded" /> *@
					<PropertyColumn Property="x => x.IsIncluded">
						<CellTemplate>
							@if (context.Item.IsIncluded == true) // I don't know why true is actually false when it comes to MudIcon logic below.
							{
								<MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Medium"></MudIcon>
							}
							else
							{
								<MudIcon Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Medium"></MudIcon>
							}
						</CellTemplate>
					</PropertyColumn>
					<PropertyColumn Property="x => x.Name" />
					<PropertyColumn Property="x => x.NumberOfChildNodes" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
					<TemplateColumn Title="Action">
						<CellTemplate>
							<div style="display: flex; justify-content: left; align-items: center; gap: 10px;">
							<MudButton Size="@Size.Medium"
								Variant="@Variant.Filled" Color="@Color.Success"
									   OnClick="_ => openBaselineItemzTypeDetails(context.Item.RecordId.ToString())"> Open </MudButton>
							</div>
						</CellTemplate>
					</TemplateColumn>
				</Columns>
			</MudDataGrid>
 		</MudItem>
	}
</MudGrid>
@code {
    [Parameter]
    public Guid BaselineId { get; set; }

    [Inject]
    public IBaselinesService baselineService { get; set; }

	[Inject]
	public IBaselineHierarchyService baselineHierarchyService { get; set; }

	public GetBaselineDTO singleBaseline { get; set; } = new();
	private List<BaselineHierarchyIdRecordDetailsDTO> AllItemzTypesForBaseline { get; set; } = new List<BaselineHierarchyIdRecordDetailsDTO>();
	private ParameterForBaselineBreadcrums BreadcrumsParameter;
	private Guid parentId { get; set; } = new();
	public bool initializingPage { get; set; } = true;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			initializingPage = true;
			StateHasChanged();
			Thread.Sleep(300);

			singleBaseline = await baselineService.__Single_Baseline_By_GUID_ID__Async(BaselineId);
			if (singleBaseline != null)
			{
				BreadcrumsParameter = new ParameterForBaselineBreadcrums();
				BreadcrumsParameter.Id = singleBaseline.Id;
				BreadcrumsParameter.Name = singleBaseline.Name;
				BreadcrumsParameter.RecordType = "baseline"; // TODO :: USE CONSTANT
				BreadcrumsParameter.isIncluded = true; // TODO :: WE SET INCLUSION FOR BASELINEITEMZTYPE TO TRUE BUT WE CAN DO BETTER
			}
			//var returnedItemzTypeList = await ProjectService.__GET_ItemzTypes_By_Project__Async(ProjectId);
			var returnedItemzTypeList = await baselineHierarchyService.__Get_Immediate_Children_Baseline_Hierarchy_By_GUID__Async(BaselineId);


			if (returnedItemzTypeList != null)
			{
				AllItemzTypesForBaseline = returnedItemzTypeList.ToList();
			}

			initializingPage = false;

			// EXPLANATION : At the start of initialization process we capture parent record ID.
			// Now even if user decides to Delete this Itemz Record then also we can go back to it's
			// Parent ItemzType post completing deletion operation.
			var httpResponse = await baselineHierarchyService.__Get_BaselineHierarchy_Record_Details_By_GUID__Async(BaselineId);
			parentId = httpResponse.ParentRecordId;

			StateHasChanged();
		}
	}

	public async Task openBaselineItemzTypeDetails(string Id)
	{
		NavManager.NavigateTo($"/baselineItemzType/{Id}");
	}

	public void goBackToParentProject()
	{
		NavManager.NavigateTo($"/projectdetails/{parentId.ToString()}?showBaselineTab=true");
	}

	public async Task editBaselineDetails(string Id)
	{
		NavManager.NavigateTo($"/baselineDetails/{Id}");
	}

}
