@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/Dharmesh-Shah/ItemzAPI?tab=readme-ov-file#itemzapi" target="_blank">PRODUCTNAME_OR</a>
        </div>

         <article class="content px-4">
            @Body
        </article>
 
        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div> *@
<MudLayout>
	<MudAppBar Elevation="1" Bottom="false" Dense="true">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
		@CurrentPageTitle
		<MudSpacer />
		<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/Dharmesh-Shah/ItemzAPI?tab=readme-ov-file#itemzapi" Target="_blank" />
	</MudAppBar>
	<MudDrawer @bind-Open="@drawerOpen" Elevation="1" Anchor="Anchor.Left" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Mini" >
@*  		<MudDrawerHeader LinkToIndex="false">
			<div>
				<img src="tarkov-dev-logo.svg" width="100%" style="vertical-align: middle;" />  
				<MudText Align="Align.Center" Typo="Typo.h6"></MudText>
			</div>
		</MudDrawerHeader>  *@
		<MudNavMenu Color="Color.Secondary" Bordered="true">
			<MudNavLink Href="/projects" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Apps">Projects</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Speaker">Project TreeView</MudNavLink>
			<MudNavGroup Icon="@Icons.Material.Filled.Moving" Title="Move" Expanded="true">
				<MudNavLink Href="/moveitemz" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ConnectingAirports">Itemz - Under </MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.FormatIndentIncrease">Itemz - Between </MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AirlineStops">ItemzType - Under</MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AirlineStops">ItemzType - Between</MudNavLink>
			</MudNavGroup>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.BarChart">Stats</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.RawOn">Raw Logs</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Security">Security</MudNavLink>
		</MudNavMenu>
	</MudDrawer>
	<MudMainContent Class="mt-2">
		<CascadingValue Name="AppLayout" Value="this">
			<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
				@Body
			</MudContainer>
		</CascadingValue>
	</MudMainContent>
</MudLayout>
<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

@code {

	bool drawerOpen = true;

	public string CurrentPageTitle = "ItemzApp";

	public void SetTitle(string value) {
		CurrentPageTitle = value;
		StateHasChanged();
	}

	void ToggleDrawer()
	{
		drawerOpen = !drawerOpen;
	}
}